flask
flask_sqlalchemy
flask_login
flask_wtf
wtforms
requests
python-dotenv
openai
openai-whisper
torch
gunicorn
ffmpeg-python
soundfile
werkzeug
google-generativeai
numpy
email-validator
itsdangerous>=2.1.2